{% extends "homepage/base.html" %}

{% block content %}
    <section id="services" class="services" style="margin-top: 50px">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>PDF to DOCX</h2>
                <p>Convert your PDF files to DOCX format</p>
            </div>
            <!-- Drag and drop area for files -->
            <div class="content-row">
                <div class="box" id="drop-area">
                    <div class="box-header">
                        <h3 class="box-title">Drag and drop your PDF files here</h3>
                    </div>
                    <input type="file" id="fileElem" multiple accept=".pdf">
                    <label class="button" for="fileElem">Select some files</label>
                </div>
            </div>
            <!-- File list -->
            <div class="content-row">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Files to convert</h3>
                    </div>
                    <div class="container" id="uploaded-files">
                        <div class="file-row">
                            <!-- Uploaded files will be inserted here -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Convert button -->
            <div class="button-div">
                <button id="convert-button" class="button">Convert to DOCX</button>
            </div>
        </div>

    </section>
{% endblock %}
