.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.file-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    width: 100%;
}

.box {
    border: 2px dashed #aaa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    position: relative;
    width: 100%;
}

.box.highlight {
    border-color: #c8e6c9;
    background: #e8f5e9;
}

.box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#uploaded-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.file-item {
    flex: 1 0 calc(100% / 6 - 20px);
    max-width: calc(100% / 6 - 20px);
    min-width: calc(100% / 6 - 20px);
    height: 350px; /* Adjusted height */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.file-name {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    white-space: nowrap; /* Ensure text is on one line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
    border-bottom: 1px solid #ddd; /* Separation line */
    padding-bottom: 5px; /* Padding for separation line */
}

.file-preview {
    width: 100%;
    height: calc(100% - 80px); /* Adjusted height for buttons and filename */
    object-fit: contain;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Separation line */
    padding-bottom: 5px; /* Padding for separation line */
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px; /* Reduced margin */
}

.button {
    background: #4285f4;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #357ae8; /* Added border */
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #357ae8;
}

/* Media query for desktop screens */
@media screen and (max-width: 1200px) {
    .file-item {
        width: calc(16.6667% - 20px);
        max-width: calc(14.2857% - 20px);
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
    .file-item {
        width: calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}
